Connected Services/ServiceChambre/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Chambres">
    <xs:sequence>
      <xs:element minOccurs="0" name="codeCh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCh" type="xs:int" />
      <xs:element minOccurs="0" name="libelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chambres" nillable="true" type="tns:Chambres" />
  <xs:complexType name="ArrayOfChambres">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chambres" nillable="true" type="tns:Chambres" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChambres" nillable="true" type="tns:ArrayOfChambres" />
</xs:schema>